body{
  background-color: black;
}

#header{
  text-align: center;
  color: rgb(225, 56, 231);
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.shipCard{
  text-align: center;
  background-color: green;
  color: orange;
  width: 90%;
  height: 125px;
  margin-bottom: 5px;
  margin-top: 5px;
}